/* Large Layout: 1920px. */

@media only screen and (min-width: 1601px) and (max-width: 2000px) {
    .team-table tbody tr td:nth-child(2),
    .team-table2 tbody tr td:nth-child(2) {
        width: 10.75% !important;
    }
    .team-table thead tr th.width-2 {
        width: 10.65% !important;
    }
	.team-table2 thead tr th.width-2{
		width:10.65% !important;
	}
}


/* Medium Large Layout: 1440px. */

@media only screen and (min-width: 1401px) and (max-width: 1600px) {
    .team-table tbody tr td:nth-child(2),
    .team-table2 tbody tr td:nth-child(2) {
        width: 238px !important;
    }
    .team-table thead tr th.width-2 {
        width: 28.4% !important;
    }
    .team-table2 thead tr th.width-2 {
        width: 18.9% !important;
    }
}


/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .team-table2 tbody tr td:nth-child(2) {
        width: 174px !important;
    }
    .team-table2 thead tr th.width-2 {
        width: 20.8% !important;
    }
    .team-table thead tr th.width-33 {
        padding-right: 28px;
    }
    .team-table thead tr th.width-1 {
        width: 8% !important;
    }
    .team-table2 tbody tr td.width-50 {
        width: 7.2% !important;
    }
    .responsive-table {
        overflow-x: scroll;
    }
    table.team-table {
        width: 1321px;
    }
    .team-table thead tr th.width-2 {
        width: 28.4% !important;
    }
    .roster-profile-status {
        width: 43%;
    }
    .secondary-menu li a {
        font-size: 23px;
        padding: 10px 24px;
    }
}


/* Mobile + Tablet Layout: */

@media only screen and (max-width: 991px) {
    table.team-table {
        width: 1321px;
    }
    table.team-table2 {
        width: 1312px;
    }
    .header-area,
    .mobile-display-none,
    .hero-area {
        display: none;
    }
    .responsive-header,
    .responsive-menu {
        display: block;
    }
    .responsive-menu,
    .mobile-menu-bar,
    .mobile-menu-close {
        background: #df5b37;
        background: -moz-linear-gradient(45deg, #df5b37 0%, #e11d40 31%, #df5b37 67%, #e11d40 100%);
        background: -webkit-linear-gradient(45deg, #df5b37 0%, #e11d40 31%, #df5b37 67%, #e11d40 100%);
        background: linear-gradient(45deg, #df5b37 0%, #e11d40 31%, #df5b37 67%, #e11d40 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df5b37', endColorstr='#e11d40', GradientType=1);
    }
    .responsive-menu {
        width: 80%;
        padding: 10px;
        position: fixed;
        left: -80%;
        top: 10px;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
    .responsive-menu.active {
        opacity: 1;
        visibility: visible;
        left: 0%;
    }
    .responsive-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .responsive-menu li {
        display: block;
    }
    .responsive-menu li a {
        display: block;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        padding: 6px;
        transition: .3s;
        padding-left: 20px;
        margin-bottom: 1px;
    }
    .responsive-menu li a:hover {
        color: #222;
        background: #fff;
    }
    .menu-divider {
        background: #fff;
        height: 2px;
        margin: 20px;
    }
    body {
        overflow-x: hidden;
    }
    .logo-responsive {
        text-align: center;
        width: 100%;
    }
    .logo-responsive a {
        transition: .3s;
    }
    .logo-responsive a:hover {
        opacity: .8;
    }
    .logo-responsive img {
        max-width: 180px;
    }
    .mobile-menu-bar,
    .mobile-menu-close {
        width: 50px;
        height: 50px;
        padding: 12px;
        position: fixed;
        z-index: 99;
        top: 10px;
        left: 10px;
        border-radius: 50%;
        box-shadow: 0 0 5px #444;
        cursor: pointer;
        transition: .3s;
        opacity: 0;
        visibility: hidden;
    }
    .mobile-menu-bar:hover,
    .mobile-menu-close:hover {
        transform: scale(1.1);
    }
    .mobile-menu-bar.active,
    .mobile-menu-close.active {
        opacity: 1;
        visibility: visible;
    }
    .mobile-menu-close.active {
        left: 82%;
    }
    .responsive-header {
        padding: 30px 0;
        box-shadow: 0 0 6px 1px #333;
    }
    .header-content {
        text-align: center;
    }
    .header-content h1 {
        font-size: 31px;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .subtitle {
        margin-bottom: -4px;
    }
    .boxed-btn {
        display: block;
        padding: 12px 10px;
        margin-bottom: 12px;
    }
    .how-to-play-title h1 {
        font-size: 36px;
        letter-spacing: 3px;
    }
    .how-to-play-image {
        padding-right: 0;
    }
    .how-to-play-text img {
        left: 5px;
        top: 0px;
        max-width: 56px;
    }
    .how-to-play-text p {
        padding-left: 80px;
        font-size: 14px;
        margin-bottom: 40px;
    }
    .how-to-play-area {
        padding-top: 60px;
        padding-bottom: 30px;
        margin-top: 5px;
    }
    .about-area {
        padding: 70px 0;
    }
    .about-image {
        height: 220px;
    }
    .about-text h1 {
        font-size: 36px;
        text-align: center;
    }
    .about-text {
        padding: 7px;
        margin-top: 85px;
    }
    .how-it-works-text h1 {
        font-size: 37px;
        margin-bottom: 40px;
        text-align: center;
    }
    .how-it-works-text p {
        padding-right: 0;
    }
    .how-it-works-text p:after {
        display: none;
    }
    .tips-text h1 {
        text-align: center;
    }
    .tips-text {
        padding-left: 0;
    }
    .tips-text p {
        font-size: 14px;
        padding: 20px;
    }
    .how-it-works-area {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .footer-area-wrap {
        padding-top: 30px;
    }
    .footer-area h3 {
        margin-top: 30px;
    }
    .copyright-text {
        text-align: center;
    }
    .footer-area {
        padding-bottom: 30px;
    }
    .padding-top-less {
        padding-top: 0px;
        margin-top: -24px;
    }
    .padding-bottom-less {
        padding-bottom: 5px;
    }
    .custom-col-width-1,
    .custom-col-width-2 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .filter-content ul {
        display: block;
        margin-left: 15px;
    }
    .scoring-content {
        padding: 15px;
    }
    .league-option {
        padding: 20px 15px 35px;
        margin-bottom: 40px;
    }
    .profile-info h2,
    .edit-profile-btn,
    .team-btn {
        width: 100%;
        font-size: 26px;
        margin: 15px auto;
    }
    .edit-profile-btn,
    .team-btn {
        font-size: 18px;
    }
    .profile-sign-up {
        padding: 25px;
        height: 215px;
        margin-top: 10px;
    }
    .common-bg {
        padding: 15px;
        padding-top: 22px;
    }
    .st-head-row.st-head-row-main {
        text-align: center;
        color: #e53823;
        border-right: 1px solid #fff;
    }
    .st-head-row {
        text-align: center;
        padding-top: 10px;
        border-right: 1px solid #fff;
    }
    .st-key {
        width: 47%;
        text-align: left;
        padding-right: 0;
        border: 1px solid #efefef;
        padding: 5px;
        text-decoration: none !important;
        color: #6c6c6c;
        font-weight: 500;
        text-transform: uppercase;
    }
    .st-val {
        border: 1px solid #efefef;
        padding: 0 5px;
        color: #6c6c6c;
    }
    .league-details-body tbody tr td:first-child {
        width: 17.1%;
    }
    .league-details-body tbody tr td:nth-child(2) {
        width: 14.6%;
    }
    .league-details-body tbody tr td:nth-child(3) {
        width: 13.9%;
    }
    .league-details-body tbody tr td:nth-child(4) {
        width: 18.9%;
    }
    .league-details-body tbody tr td:nth-child(5) {
        width: 15.8%;
    }
    .league-details-body tbody tr td:last-child {
        width: 11%;
    }
    .league-details thead tr th:first-child {
        width: 17.3% !important;
    }
    .league-details thead tr th:nth-child(2) {
        width: 14.7% !important;
    }
    .league-details thead tr th:nth-child(3) {
        width: 8.9% !important;
    }
    .league-details thead tr th:nth-child(4) {
        width: 19.2% !important;
    }
    .league-details thead tr th:nth-child(5) {
        width: 7% !important;
    }
    .league-details thead tr th:last-child {
        width: 19% !important;
    }
    .ps>.ps__scrollbar-y-rail {
        top: 77px !important;
    }
    .ps>.ps__scrollbar-y-rail>.ps__scrollbar-y {
        height: 124px !important;
    }
    .league-details-bg {
        background-repeat: repeat;
    }
    .mobile-mt-90 {
        margin-top: 90px;
    }
    .edit-profile-pb-150 {
        padding-bottom: 80px !important;
    }
    .recent-message-area .col-md-4,
    .recent-message-area .col-md-8 {
        padding-right: 15px;
    }
    .position-1 {
        background: #fff;
        margin-bottom: 20px;
    }
    .position-2 {
        background: #fff;
    }
    .recent-message-area {
        background: #e1e1e1;
    }
    .topic-body,
    .topic-body1 {
        height: 400px;
    }
    .invite-manager-body {
        margin-bottom: 20px;
    }
    .league-option {
        min-height: auto;
    }
    .league-option-bg-1,
    .scoring-content-bg,
    .league-details-bg,
    .league-option-bg {
        background-image: none;
    }
    .secondary-menu {
        margin-top: 15px;
    }
    .secondary-menu ul li {
        display: block;
        text-align: center;
    }
    .secondary-menu li a {
        padding: 5px;
        font-size: 22px;
        line-height: 29px;
    }
    .pb-0 {
        padding-bottom: 0;
    }
    .responsive-table {
        overflow-x: scroll;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .league-details thead tr th {
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 20px;
    }
    .boxed-btn {
        width: 50%;
        margin: 12px auto;
    }
    .how-to-play-text {
        margin-left: 70px;
    }
    .how-to-play-text p {
        font-size: 18px;
    }
    .how-to-play-text img {
        top: -8px;
    }
    .about-image {
        height: 370px;
    }
    .filter-content ul {
        display: inline-block;
        margin-left: 10px;
    }
    .ps>.ps__scrollbar-y-rail>.ps__scrollbar-y {
        height: 225px !important;
    }
    .scoring-content-bg {
        background-size: 40%;
    }
    .view-btn,
    .join-btn {
        width: auto;
        padding: 0 30px;
    }
    .secondary-table-wrapper {
        border-left: none;
    }
    .invite-manager-body {
        padding: 20px;
    }
    .league-special-text {
        padding-left: 40px;
        padding-right: 20px;
    }
    .profile-sign-up {
        padding: 20px;
        height: 190px;
        margin-top: 0;
    }
    .pd-lt-0 {
        padding-left: 0;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .public-access {
        width: 320px;
        height: 550px;
        margin-left: -160px;
        margin-top: -275px;
    }
    .public-info-area {
        height: 460px;
    }
    .public-info-area .text-right {
        text-align: center;
    }
    .join-league-form input[type=submit],
    .join-league-form input[type=text] {
        width: 100%;
    }
    .league-details {
        display: none;
    }
    .profile-area .text-right {
        text-align: left;
    }
    .team-table2,
    .team-table {
        min-width: 800px;
    }
    .invite-info-table tr>*,
    .message-board-input-table tr>*,
    .email-league-table tr>* {
        display: block;
        width: 100%;
    }
    .invite-info-table tr,
    .message-board-input-table tr,
    .email-league-table tr {
        display: table;
        width: 100%;
    }
    .invite-info-table tbody tr td {
        border-right: none;
    }
    .invite-info-table thead tr th,
    .invite-info-table tbody tr td {
        width: 100% !important;
    }
    .submit-invite-btn {
        bottom: -165px;
        left: 3%;
        width: 94%;
    }
    .mobile-d-none {
        display: none !important;
    }
    form.manager-input-table {
        min-height: 1525px !important;
    }
    .fake-bg-for-mobile {
        position: absolute;
        left: 0;
        bottom: -182px;
        width: 100%;
        height: 160%;
        background: #dfdfdf;
        content: "";
        z-index: -1
    }
    table.owner-info-table .st-key {
        color: #fff;
        background: #d03222;
        border-left: none;
    }
    table.owner-info-table .st-head-row {
        padding: 10px;
    }
    .settings-table-wrapper {
        padding: 15px;
    }
    .basic-settings-table thead tr th,
    .scoring-settings-table thead tr th,
    .roster-settings-table-header thead tr th {
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        width: 50%;
        text-transform: uppercase;
        color: #fff;
        line-height: 20px;
    }
    .secondary-table-wrapper {
        border-left: none;
    }
    .scoring-content-2 {
        padding: 20px;
        margin-bottom: 0;
    }
    .message-board-input-form {
        padding: 10px 20px 30px;
    }
    .td-left,
    .td-right {
        padding: 0;
    }
    .td-left {
        padding-top: 10px;
    }
    .submit-message-btn,
    .cancel-btn {
        margin-bottom: 10px;
        width: 100%;
    }
    .email-input-table {
        padding: 10px 15px 30px;
    }
    .email-league-table .custom-select {
        width: 100%;
    }
    .send-btn {
        margin-bottom: 10px;
    }
    .email-header h3 {
        padding: 20px;
    }
    .league-home-table .st-key {
        color: #7f7f7f !important;
        padding-left: 25px !important;
    }
    .league-home-table thead tr th:first-child:before,
    .league-home-table tbody tr td:first-child:before {
        left: 14px;
        top: 20%;
        height: 60%;
    }
    .league-home-table .st-head-row {
        text-align: center;
        padding: 10px;
        border-right: 1px solid #fff;
    }
    .league-settings-overview-heading {
        height: auto;
    }
    .league-settings-overview .col-sm-4 {
        padding-right: 15px;
    }
    .league-settings-overview-heading h3 {
        padding-left: 20px;
        font-size: 24px;
    }
    .invite-manager-body {
        padding: 20px;
    }
    .league-special-text {
        padding-left: 15px;
        padding-right: 15px;
    }
    .view-scoring-popup-menu {
        width: 412px;
        margin-left: -206px;
        height: 548px;
        margin-top: -274px;
    }
    .view-scoring-content-wrapper {
        padding: 20px;
    }
    .view-scoring-table thead tr th:nth-child(3),
    .view-scoring-table tbody tr td:nth-child(3) {
        width: 30%;
    }
    .view-scoring-table thead tr th {
        font-size: 16px;
        font-weight: 700;
    }
    .view-scoring-table .scroring-checkbox {
        font-size: 17px;
        line-height: 25px;
    }
    .view-scoring-table .scroring-checkbox input[type="checkbox"]+label::before {
        top: 2px;
    }
    .league-details-body tbody tr td:first-child {
        width: 10%;
    }
    .roster-starter-table tbody tr td {
        padding: 6px;
    }
    .roster-profile-status {
        width: 90%;
    }
    .roster-starter-table:before,
    .roster-starter-table2:before {
        display: none;
    }
    .roster-starter-table,
    .roster-starter-table2,
    .roster-starter-table3 {
        display: block;
    }
    .switch-popup-menu,
    .create-account-popup-menu,
    .signup-popup-menu,
    .login-popup-menu {
        width: 300px;
        margin-left: -150px;
    }
    .signup-popup-menu {
        height: 520px;
        margin-top: -260px;
    }
    .create-account,
    .switch-account {
        height: 400px;
        margin-top: -200px;
    }
    .sign-with-mail,
    .sign-with-facebook {
        padding: 8px 30px;
    }
    .roster-starter-table .ps__rail-y,
    .roster-starter-table.ps.ps--active-y>.ps__rail-y,
    .roster-starter-table3 .ps__rail-y,
    .roster-starter-table3.ps.ps--active-y>.ps__rail-y,
    .roster-starter-table2 .ps__rail-y,
    .roster-starter-table2.ps.ps--active-y>.ps__rail-y {
        background: #222;
        right: 0px !important;
    }
    .roster-starter-table tbody tr td.st-val,
    .roster-starter-table2 tbody tr td.st-val {
        width: 21% !important;
    }
    .roster-starter-table tbody tr td.st-key,
    .roster-starter-table2 tbody tr td.st-key {
        width: 20% !important;
    }
}

@media only screen and (max-width: 400px) {
    .team-details-head,
    .team-details-body {
        width: 500px;
    }
    .public-access {
        width: 320px;
        height: 550px;
        margin-left: -160px;
        margin-top: -275px;
    }
    .public-info-area {
        height: 460px;
    }
    .public-info-area .text-right {
        text-align: center;
    }
    .join-league-form input[type=submit],
    .join-league-form input[type=text] {
        width: 100%;
    }
    form.manager-input-table {
        min-height: 1750px !important;
    }
    .view-scoring-popup-menu {
        width: 320px;
        margin-left: -160px;
        height: 544px;
        margin-top: -272px;
    }
    .view-scoring-content-wrapper {
        padding: 20px;
    }
    .view-scoring-table thead tr th:nth-child(3),
    .view-scoring-table tbody tr td:nth-child(3) {
        width: 30%;
    }
    .view-scoring-table thead tr th {
        font-size: 13px;
        font-weight: 700;
    }
    .view-scoring-table .scroring-checkbox {
        font-size: 16px;
        line-height: 22px;
    }
    .view-scoring-table .scroring-checkbox input[type="checkbox"]+label::before {
        top: 2px;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}